.sidebar-menu {
  * {
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    padding: 0;
  }

  .container {
    display: flex;
    min-height: 100vh;
    padding: 0;
    margin: 0;

    .main-content {
      width: 100vw;
      .setting-content {
        .row {
          .title {
            margin-top: 40px;
          }
          .form {
            margin-top: 40px;
            .name-user {
              .name {
                font-weight: bold;
                margin-bottom: 6px;
              }
            }
            .username-user {
              .username {
                font-weight: bold;
                margin-bottom: 6px;
              }
            }
            .password-user {
              .password {
                font-weight: bold;
                margin-bottom: 6px;
              }
            }
          }
        }
      }
    }
  }
  .sidebar {
    background-color: #111827;
    width: 350px;
    padding: 24px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    transition: all ease-in 0.3s;
    .header {
      #menu-button {
        width: 32px;
        position: absolute;
        overflow: hidden;
        justify-content: center;

        #menu-label {
          position: relative;
          display: block;
          height: 20px;
          cursor: pointer;
        }

        #menu-checkbox {
          display: none;
        }

        #hamburger,
        #menu-label:after,
        #menu-label:before {
          position: absolute;
          left: 0;
          width: 100%;
          height: 4px;
          background-color: white;
        }
        #menu-label:after,
        #menu-label:before {
          content: "";
          transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) left;
        }

        #menu-label:before {
          top: 0;
        }
        #menu-label:after {
          top: 8px;
        }
        #hamburger {
          top: 16px;
        }
        #hamburger:before {
          content: "MENU";
          position: absolute;
          top: 5px;
          right: 0;
          left: 0;
          color: white;
          font-size: 11px;
          font-weight: bold;
          text-align: center;
        }
        #menu-checkbox:checked + #menu-label::before {
          left: -39px;
        }
        #menu-checkbox:checked + #menu-label::after {
          left: 39px;
        }
        #menu-checkbox:checked + #menu-label #hamburger::before {
          animation: moveUpThenDown 0.8s ease 0.2s forwards,
            shakeUp 0.8s ease 0.2s forwards, shakedown 0.2s ease 0.8s forwards;
        }

        @keyframes moveUpThenDown {
          0% {
            top: 0;
          }
          50% {
            top: -27px;
          }
          100% {
            top: -14px;
          }
        }
        @keyframes shakeUp {
          0% {
            transform: rotateZ(0);
          }
          25% {
            transform: rotateZ(-10deg);
          }
          50% {
            transform: rotateZ(0);
          }
          75% {
            transform: rotateZ(10deg);
          }
          100% {
            transform: rotateZ(0);
          }
        }
        @keyframes shakedown {
          0% {
            transform: rotateZ(0);
          }
          80% {
            transform: rotateZ(3deg);
          }
          90% {
            transform: rotateZ(-3deg);
          }
          100% {
            transform: rotateZ(0);
          }
        }
      }
      .description-header {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 16px;
        text-align: center;
        color: #ffffff;
        padding-left: 4px;
      }

      a {
        text-decoration: none;
        padding-top: 50px;
        padding-bottom: 35px;
        margin-top: 20px;
        .icon {
          width: 30px;
          height: 24px;
        }
      }
      .list-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 12px 10px;
        border-radius: 8px;
        height: 40px;
        box-sizing: border-box;
      }
      .illustration {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        margin: 10px 0 22px 0;
        box-sizing: border-box;
      }
    }
    .main {
      .list-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 12px 10px;
        border-radius: 8px;
        // width: 246px;
        box-sizing: border-box;
        margin-bottom: 5px;

        &:hover {
          background: #ff9900;
          transition: all ease-in 0.2s;
        }
        &.active {
          background: #ff9900;
        }

        a {
          text-decoration: none;
          .description {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 16px;
            text-align: center;
            color: #ffffff;
          }
          .icon {
            margin-right: 12px;
          }
        }
      }
    }
  }
  .sidebar.hide {
    width: 87px;
    transition: all ease-out 0.3s;
    .description-header {
      display: none;
    }
    .illustration {
      display: none;
    }
    .main {
      .list-item {
        .description {
          display: none;
        }
      }
    }
  }
}

.main-content {
  .privasi-title {
    margin-top: 40px;
  }
  .row {
    .privasi-content {
      margin-top: 40px;
      .title {
        .privasi-subtitle {
          color: #595959;
          margin-bottom: 20px;
        }
      }
    }
  }
}
